<section id="content-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <p>Dashboard</p>
            <h2 class="content-title mb-4">Welcome {{firstName}}</h2>
            <span class="chip size1 px-2"> Here are your stories </span>

            {{#if stories}}
            <table class="table table-borderless table-striped my-4">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each stories}}
                    <tr class="">
                        <td>
                            <a href="/story/{{_id}}" class="text-decoration-none">
                                {{title}}</a>
                        </td>
                        <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                        <td>{{status}}</td>
                        <td>
                            {{> _modal }}
                            <a href="/edit/{{_id}}">
                                <i class="fas fa-edit text-warning"></i>
                            </a>
                            <a href="#" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                <i class="fas fa-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <p>You have not created any stories</p>
            {{/if}}
        </div>
    </div>
    {{> _add_btn}}
</section>