<section id="content-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <p>stories</p>
            {{#if stories}}

            <div class="row">
                {{#each stories}}
                <div class="col-md-6 mb-3">
                    <div class="card text-center" style="height: 100%;">
                        <a href="/story/user/{{user._id}}" class="text-decoration-none">
                            <div class="card-header bg-secondary hover-title">
                                <div class="">{{user.displayName}}</div>
                                <img src="{{user.image}}" width="30px" height="30px" class="rounded-circle"
                                    style="position: absolute; right: 2%; top: 2%;" alt="">
                            </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{truncate title 50}}</h5>
                            <p class="card-text">{{{ stripTags (truncate body 150) }}} 
                            </p>
                            <a href="/story/{{_id}}" class="btn btn-primary">Read more</a>
                            {{!-- edit user --}}
                            {{{editIcon user ../user _id }}}
                        </div>
                        <div class="card-footer text-muted">
                            {{formatDate createdAt 'dddd'}}
                        </div>
                    </div>

                </div>
                {{/each}}
            </div>


            {{else}}
            <p>No stories to display</p>
            {{/if}}
        </div>
    </div>
</section>