<section id="content-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <p>stories</p>
            {{#if stories}}

            <div class="row">
                {{#each stories}}
                <div class="col-md-6 my-3">
                    <div class="card" style="height: 100%;">
                        <a href="/story/user/{{user._id}}"
                            class="text-decoration-none d-flex p-2 justify-content-between">
                            <img src="{{user.image}}" width="30px" height="30px" class="rounded-circle" alt="">
                            <div class="text-dark" style="font-size: 14px;">
                                <div class="">{{user.displayName}}</div>
                            </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{truncate title 50}}</h5>
                            <p class="card-text">{{{ stripTags (truncate body 150) }}}
                            </p>
                            <a href="/story/{{_id}}" class="btn btn-primary">Read more</a>
                            {{!-- edit user --}}
                            {{{editIcon user ../user _id }}}
                        </div>
                        <div class="p-2 text-muted">
                            {{formatDate createdAt 'dddd'}}
                        </div>
                    </div>

                </div>
                {{/each}}
            </div>


            {{else}}
            <p>No stories to display</p>
            {{/if}}
        </div>
    </div>
</section>